.goBack {
  padding: 0.1em 0.8em;
  background: black;
  color: white;
  font-size: 1.5em;
  border-radius: 0.3em;
  cursor: pointer;
}
.userDataTop > div {
  padding: 0.6em 1em;
}

.imgContainer > img {
  width: 100%;
  aspect-ratio: 5 / 1;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.profileContainer {
  width: 100%;
  height: 0;
}
.profileContainer .imgWrapper {
  width: 12%;
  position: relative;
}
.profileContainer img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 4px solid red;
}
.userData {
  width: 500%;
  position: absolute;
  top: 100%;
  left: 50%;
  flex-direction: column;
  padding-top: 12%;
  text-align: center;
  transform: translate(-50%, 0%);
}
.username {
  font-weight: 600;
  font-size: 1em;
}
.userType {
  font-size: 0.8em;
  color: #727272;
}

.infoContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  height: max(10vw, 100px);
  background: rgba(0, 0, 0, 0.03);
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: black;
  font-size: 10px;
  height: fit-content;
  margin: auto;
}
.info > div {
  margin: 14px 0;
  padding: 6px;
  border-right: 1px dashed #979797;
  flex-direction: column;
}
.info > div:last-child {
  border-right: none;
}
.info > div div:first-child {
  font-weight: bold;
  padding-bottom: 10px;
}
.info > div div:last-child {
  color: #727272;
}
.costContainer {
  width: 100%;
  font-size: 0.8em;
  color: #fff;
  padding: 0 3em;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.costContainer > div {
  margin: 0.4em 0.8em;
}
.costContainer button {
  width: 100%;
  border-radius: 5px;
  background: #f9b91b;
  color: white;
  outline: none;
  border: none;
  padding: 5px 0;
}
.cost .amount {
  flex: 56px 1 1;
  width: 48px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: start;
  background: #000000;
  padding: 5px 8px;
}
.cost .unit {
  flex: 24px 1 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  background: #ff0000;
  padding: 5px 0;
}

.selectTab {
  color: white;
  background: #252525;
}
.selectTab div {
  padding: 8px 10px;
  margin: 8px 10px;
  position: relative;
  cursor: pointer;
}
.selectTab .active::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  top: 100%;
  left: 0;
  position: absolute;
  background: red;
}

@media screen and (max-width: 600px) {
  .profileContainer img{
    border: 2px solid red;
  }
  .infoContainer{
    grid-template-columns: 1fr;
    padding: 60px 0 20px;
    height: auto;
  }
  .costContainer{
    max-width: 300px;
    margin: auto;
  }
}