.customFormContainer{
    width: 100%;

}
.customFormContainer > h3{
    margin-bottom: 36px;
}
.customForm{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
}
.formGroup{
    margin: 0 2em;
    flex: 1 0 300px;
}
.fullFormGroup{
    margin: 0 2em;
    width: 100%;
}